# requirements.in
django
djangorestframework
drf-spectacular
drf-yasg

flask
python-dotenv
jinja2

torch
torchaudio
transformers
openai
httpx

librosa
moviepy
pdf2image
matplotlib
pandas
numpy
scikit-learn
scipy
regex
soundfile

grpcio
tts
encodec
PyMySQL